<app-add-task (onAddTask)="onAdd($event)" ></app-add-task>
<app-task-item (onDeleteTask)="onDelete(task)" (onToggleReminder)="onToggleReminder(task)" *ngFor="let task of tasks" [task]="task"></app-task-item>
